{% extends "base.html" %}

{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'templantes/pacientes.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <h2 class="text-center mt-4 mb-4">Lista de Pacientes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th>Sexo</th>
                <th>Data de Entrada</th>
                <th>Status</th>
                <th>Tipo de Câncer</th>
                <th>Observação</th>
                <th>Tipo de Cesta</th>
                <th>Opção de Cesta</th>
                <th>Cereais</th>
                <th>Frutas</th>
                <th>Nutren</th>
                <th>Fraldas</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.sobrenome }}</td>
                <td>{{ paciente.cpf }}</td>
                <td>{{ paciente.endereco }}</td>
                <td>{{ paciente.bairro }}</td>
                <td>{{ paciente.telefone }}</td>
                <td>{{ paciente.data_nasc }}</td>
                <td>{{ paciente.sexo }}</td>
                <td>{{ paciente.data_entrada }}</td>
                <td>{{ paciente.status }}</td>
                <td>{{ paciente.tipo_cancer }}</td>
                <td>{{ paciente.observacao }}</td>
                <td>{{ paciente.tipo_cesta }}</td>
                <td>{{ paciente.opcao_cesta }}</td>
                <td>{% if paciente.cereais %}Sim{% else %}Não{% endif %}</td>
                <td>{% if paciente.frutas %}Sim{% else %}Não{% endif %}</td>
                <td>{% if paciente.nutren %}Sim{% else %}Não{% endif %}</td>
                <td>{% if paciente.fraldas %}Sim{% else %}Não{% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="18" class="text-center">Nenhum paciente cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
