{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{% static 'pacientes/css/pacientes.css' %}">
  <title>{% block title %}Semente Esperança{% endblock %}</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'pacientes' %}">Lista de Pacientes</a></li>
            <li><a href="{% url 'adicionar_paciente' %}">Adicionar Paciente</a></li>
            <li><a href="{% url 'att_paciente' %}">Atualizar Paciente</a></li>
            <li><a href="{% url 'relatorios' %}">Relatórios</a></li>
            <li><a href="{% url 'historico' %}">Histórico</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block body %}{% endblock %}
</body>
</html>
