{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Pacientes{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'pacientes/css/pacientes.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card-dashboard">
        <h3 class="text-card">Lista de Pacientes</h3>
    </div>
    <ul class="mt-4">
        {% for paciente in pacientes %}
        <li>
            <strong>{{ paciente.nome }} {{ paciente.sobrenome }}</strong> - {{ paciente.cpf }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
